.timer__page {
  background-color: rgb(153, 213, 203);
  width: 100vw;
  height: 100vh;
  padding-top: 150px;
}

.timer__title {
  margin: 0 auto 100px;
  text-align: center;
  font-family: 'Inter';
  font-size: 40px;
  line-height: 1.2;
  font-weight: normal;
  color: rgb(102, 176, 185);
  height: 50px;
}

.timer__numbers {
  font-family: 'Inter';
  font-size: 150px;
  line-height: 1.2;
  font-weight: normal;
  color: rgb(55, 108, 111);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timer__number {
  height: 200px;
  width: 200px;
}

.timer__colon {
  height: 200px;
}

.timer__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timer__button {
  width: 100px;
  height: 50px;
  background-color: rgb(248, 251, 170);
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(137, 140, 63);
  font-family: 'Inter';
  font-size: 18px;
  line-height: 1.2;
  margin-right: 15px;
}

.timer__button:last-of-type {
  margin-right: 0;
}